# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !-l
RewriteCond %{REQUEST_FILENAME} !\.(ico|css|png|jpg|gif|js|svg|mp4|mp3|3gp|m4a|m4v|jpeg|gif|bmp|pdf)$ [NC]
# otherwise forward it to index.php
RewriteEngine On
RewriteRule ^(.*)$ index.php?url=$1
FallbackResource index.php