<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to eFramework</title>
    <style>
      body{
        margin: 0px;
        background-color: blue;
        text-align: center;
        color: white;
        padding: 150px 50px;
      }
      h1,h2,h3,h4,h5,h6{
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <h1>eFramework
      <small>Excellent Framework</small>
    </h1>
    <h3>...with ease & with excellence...</h3>
    <h5>Developed By: eTEAM Technology</h5>
    <h6>Copyright &copy;: eTEAM <?php date("Y"); ?>.</h6>
    <p>
      <strong>Developers</strong>
      <hr/>
      <dl>
        <dt>Mohammed Odunayo (Fact-Manl)</dt>
        <dd>Email: factman60@gmail.com</dd>
        <dd>Phone Number: +2347066780373</dd>
      </dl>
    </p>
  </body>
</html>
